*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo{
    width: 80px
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{ 
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.content{
    padding-top: 450px;
    text-align: center;
}
.content h1{
    font-size: 50px;
    color: white;
    font-weight: 100;
    transform: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.but{
    float: right;
    margin-right: 6%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 150px;
    
}

.but img{
    border-radius: 50%;
}

.but p{
    font-size: 18px;
    color: wheat;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 80px;
    cursor:pointer;
}